In [1]:
import pandas as pd
df = pd.read_csv('house_data.csv')

In [2]:
df.head()

,Unnamed: 0,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,NaN,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,NaN,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [3]:
del df['Unnamed: 0']
df.head()

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,NaN,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,NaN,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [4]:
df = pd.read_csv('house_data.csv', index_col = 0)

In [5]:
df.head()

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,NaN,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,NaN,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [7]:
df['物 业 费'] == '暂无资料'
df[df['物 业 费'] == '暂无资料'].head()

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.4,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,NaN,1996年,50.0,1室1厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,230.0
27,投咨300亿山水六旗主题公园 金色海岸 海景房 得房率110,个人产权,普通住宅,NaN,NaN,2016年,84.0,2室2厅0厨1卫,中层(共15层),暂无资料,住宅,NaN,毛坯,80.0
65,老客户转让，首付20万，可，1梯1户，专车接送看房,个人产权,普通住宅,NaN,NaN,2017年,82.0,3室2厅1厨2卫,低层(共17层),暂无资料,住宅,平层,毛坯,69.0
70,南浔古镇，月亮湾花园，南北通透，双轨交汇，配套齐全，得房,个人产权,普通住宅,板楼,NaN,2017年,92.0,2室2厅1厨1卫,中层(共17层),暂无资料,住宅,平层,简装修,80.0

In [9]:
import numpy as np

In [10]:
df.loc[df['物 业 费'] == '暂无资料', '物 业 费'] = np.nan
df.head()

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,NaN,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,NaN,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [11]:
df = pd.read_csv('house_data.csv', na_values='暂无资料', index_col=0)
df.head()

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,NaN,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,NaN,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [14]:
df.columns
df.dtypes
df.describe()

       参考月供        建筑面积            總價
count   0.0  240.000000    237.000000
mean    NaN  113.435333    646.092869
std     NaN   99.199836   1300.349319
min     NaN   22.500000     30.600000
25%     NaN   68.952500    220.000000
50%     NaN   88.155000    400.000000
75%     NaN  123.250000    578.000000
max     NaN  731.240000  11000.000000

In [19]:
df.isnull()
df.isnull().any()
df.isnull().sum()
df['产权性质'].isnull().sum()

df.isnull().sum() / df.count()

標題       0.000000
产权性质     0.052632
住宅类别     0.100917
建筑类别     0.276596
参考月供          inf
年代       0.071429
建筑面积     0.000000
户型       0.000000
楼层       0.052632
物 业 费    0.116279
物业类型     0.000000
结构       0.325967
装修       0.052632
總價       0.012658
dtype: float64

In [21]:
df = df.drop('参考月供', axis=1)

KeyError: "['参考月供'] not found in axis"

In [22]:
df.head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [24]:
df['产权性质'].value_counts()

个人产权     171
商品房       54
经济适用房      2
售后公房       1
Name: 产权性质, dtype: int64

In [25]:
df[df['产权性质']=='个人产权'].head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,1996年,50.00,1室1厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,230.0

In [26]:
df[df['建筑类别'].isnull()].head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
6,纯双拼别墅，外环旁低总价，奢华大厅，美极了,NaN,NaN,NaN,NaN,237.00,4室3厅1厨4卫,NaN,3.8元/平米・月,别墅,NaN,NaN,1000.0
11,绿城豪宅，精品纯独栋，格局方正，双南设计，全明通透，豪华气派,NaN,NaN,NaN,NaN,502.00,5室3厅2厨6卫,NaN,6.5元/平方米・月,别墅,NaN,NaN,2798.0
12,月浦八村繁华地段 毗邻公园双南两房 双轨交通,个人产权,普通住宅,NaN,1991年,47.12,2室0厅0厨1卫,高层(共6层),0.6元/平米・月,住宅,NaN,中装修,180.0
27,投咨300亿山水六旗主题公园 金色海岸 海景房 得房率110,个人产权,普通住宅,NaN,2016年,84.00,2室2厅0厨1卫,中层(共15层),NaN,住宅,NaN,毛坯,80.0

In [27]:
df = df.dropna(axis=1, how='all')
df.head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [28]:
df['物 业 费'] = df['物 业 费'].fillna(0)
df.head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),0,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
3,精装二房全明户型户型好客厅主卧朝南带阳台看房方便,商品房,NaN,板楼,1994年,56.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,简装修,280.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0

In [30]:
df['總價'].isnull().sum()

3

In [31]:
#先求平均单价
(df['總價'] / df['建筑面积']).mean()

4.680711101665694

In [32]:
df['總價'] = df['總價'].fillna(df['建筑面积'] * (df['總價'] / df['建筑面积']).mean())

In [33]:
df['總價'].isnull().sum()

0

In [36]:
df['總價']

0        30.600000
1       418.000000
2      2650.000000
3       280.000000
4       190.000000
5       205.000000
6      1000.000000
7       230.000000
8       273.000000
9       410.000000
10     1000.000000
11     2798.000000
12      180.000000
13      185.000000
14      508.000000
15      270.000000
16      700.000000
17      258.000000
18      219.993422
19       90.000000
20      340.000000
21      318.000000
22      420.000000
23      900.000000
24      453.000000
25      270.000000
26      330.000000
27       80.000000
28      690.000000
29      600.000000
          ...
210      81.000000
211      58.000000
212      58.000000
213      60.000000
214      65.000000
215      78.000000
216     154.000000
217     230.000000
218     220.000000
219    1160.000000
220     480.000000
221     330.000000
222     500.000000
223    1000.000000
224     360.000000
225     230.000000
226     900.000000
227     525.000000
228     468.000000
229     858.000000
230     460.000000
231     400.000000
232     200.000000
233    1350.000000
234     680.000000
235     810.000000
236      55.000000
237     460.000000
238    1250.000000
239     278.000000
Name: 總價, Length: 240, dtype: float64

In [37]:
df.to_csv('house_final.csv')